<div class="wrapper-grey padded">
  <div class="container">
    <div class="row">
      <h2>Your next trip</h2>
      <div class="col-xs-12 col-md-4">
        <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/card-brussels.jpg');">
          <div class="card-category">Brussels</div>
          <div class="card-description">
            <h2>Anne's home</h2>
            <p>Very lovely Anne</p>
          </div>
          <%= image_tag "anne.jpg", class: "card-user avatar" %>
          <a class="card-link" href="#" ></a>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
       <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/card-paris.jpg');">
        <div class="card-category">Paris</div>
        <div class="card-description">
          <h2>Seb's home</h2>
          <p>Unlike parisians, Paris is nice</p>
        </div>
        <%= image_tag "seb.jpg", class: "card-user avatar" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('images/card-london.jpg');">
        <div class="card-category">London</div>
        <div class="card-description">
          <h2>Romain's home</h2>
          <p>London maan come on the CITY</p>
        </div>
        <%= image_tag "romain.jpg", class: "card-user avatar" %>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
</div>
