<div class="wrapper-light-grey padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Get new from us</h2>
        <p>Leave your e-mail and get news from us</p>
        <form class="form-inline">
          <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="you@example.com">
          </div>
          <button type="submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
